<% unless @offers.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td style="width:40%">拍卖</td>
        <td>标价</td>
        <td>投标时间</td>
        <td>状态</td>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to offer.auction.title, offer.auction %></td>
          <td><%= offer.price %></td>
          <td><%=raw escape_time(offer.created_at) %></td>
          <td><%= escape_status(offer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <section class="notice">您还没有成功的投标.</section>
<% end %>