<%
#车辆展示图片  车辆型号  基本信息  拍卖开始时间  起拍价格
%>
<table>
<tr>
  <th>车辆展示图片</th>
  <th>车辆型号</th>
  <th>基本信息</th>
  <th>拍卖开始时间</th>
  <th>起拍价格</th>
  <th>操作</th>  
</tr>
<tr>
  <td>  
  </td>
</tr>
</table>
