<div class="foot">
    <ul>
      <li>
        <ul class="inf">
          <h3><b>会员中心</b></h3>          
          <li><a href="/reg">免费注册</a></li>
          <li><a href="/u">个人中心</a> </li>
          <li><a href="/forget">找回密码</a></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>竞价</b></h3>
          <li><a href="/howbid">竞价步骤</a> </li>
          <li><a href="/question">常见问题</a></li>
          <li><a href="/cost">费用说明</a></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>服务项目</b></h3>
          <li><a href="/bidcar">竞价车辆</a> </li>
          <li><a href="/partslist">拆车件</a></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>售后服务</b> </h3>
          <li><a href="/about">服务承诺</a> </li>
          <li><a href="/howbid">投诉建议</a></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf1">
          <h3><b>大连华晨</b></h3>
          <li><a href="/about">关于我们</a> </li>
          <li><a href="/recruitment">人才招聘</a> </li>
          <li><a href="/map">网站地图</a></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <div style="clear:both"></div>
    </ul>
  </div>