  <tr id="evaluated_info">
    <td class="thead">残值价值 </td>
    <td><%= @car.canzhi_jiazhi %>元 </td>
    <td class="thead">二手车价值 </td>
    <td><%= @car.ershou_jiazhi %>元 </td>
    <td></td> <td></td>
  </tr>
    