<div class="clearfix wrapper">
  <div class="fl" style="width:20%">
    <%= render 'layouts/top_menu/user_menu' %>        
  </div>
  <div class="fr" style="width:80%">
    <div class="user_info">
        <%= render 'company_info' %>  
    </div>  
  </div>
</div>

