<div id="intro" class="clearfix" >
  <div style="color: black; ">
    <ul>
      <li class="col"><a href="/static/about" style="text-decoration:none;"><h4>公司简介</h4> </a>
        <p style="text-indent:2em;">
          <strong>大连华宸价格评估有限公司</strong>是由国家商务部及辽宁省物价局共同批准，
          于2011年9月1日经大连市工商行政管理局登记设立的专门从事价格评估的机构，
          是大连地区从事资产评估的权威性和专业性机构。
          公司现有<span class="red">机动车价格评估资格人员</span>5人，<span class="red">注册资产评估资格人员</span>2人，<span class="red">森林资源资产评估资格人员</span>2人。
        </p>
      </li>
      <li class="col"><a href="/static/about" style="text-decoration:none;"><h4>业务介绍 </h4> </a>
        <p>
          <ul class="conduct">
            <li>资产价格评估</li>
            <li>森林资源资产价格评估</li>
            <li> 二手车鉴定评估及典当、拍卖、肇事、抵押等其他车辆委托鉴定评估业务</li>
            <li> 机动车价格评估</li>
            <li> 海洋水产资源资产价格评估</li>
            <li> 港航船舶价格评估</li>
          </ul>
        </p>
      </li>
      <li class="col"><a href="/static/about" style="text-decoration:none;"><h4>企业文化</h4> </a>
        <p style="text-indent:2em;">我公司自成立以来，受法院、交警大队和多家大型保险公司委托合作，
      在“<span class="red">专业负责；公正公平；勇于创新；服务社会；共赢未来</span>”理念的指导下，秉承“<span class="red">真实、科学、准确、高效</span>”的原则，
      严格按照必要的程序和标准，严格组织和实施鉴定评估工作。以诚信、专业的精神，全心全意为广大客户提供最优质的服务，
      也赢得了良好的职业口碑。        </p>
      </li>
    </ul>

  </div>

</div>
