
<div class="clearfix">
    <div style="float:left;width:20%">
        <dl>
            <% for category in @categories %>
            <dt>
              <%= category.name%>
              <% for blogpost in category.blogposts%>
                <dd> <%= link_to blogpost.title,  blogpost_path(blogpost)%> </dd>
              <% end %>
            </dt>
            <% end %>
        </dl>
    </div>
    
    <div  style="float:right;width:80%">   
      <% if @current_blogpost.present? %> 
      <%=render :partial=>"blog_categories/blogpost", :locals=>{:blogpost=>@current_blogpost } %>
      <% end %>
    </div>

</div>