<div style="margin-bottom:5px;" id="index-k">
    <div id="bk-b">
      <div style="font-weight:bold" id="left"><a href="/question">常见问题</a></div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>1. 为什么注册是需要手机验证？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>在本网站中，用户的手机号码是唯一的用户身份标识，用户只有通过了手机验证，才能第一时间了解网站最新信息、了解更多车辆信息、参加车辆竞价等。才能真正体验到我们给您带来的服务品质。手机验证是完全免费的。
 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>2. 为什么需要填写关注车型？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>这样可以让我们更好了解您感兴趣的车型，当网站有最新的您感兴趣的车型进入公示期或将要竞价时，我们的客服会第一时间通过短消息，电话的形式告知您，以便您及时登录网站查看。 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>3. 为什么要添加关注车辆？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>这是本站内的一项为会员提升服务品质的操作。当您查看了车辆照片并了解了更多车辆信息的时候，您可以选择您感兴趣的车辆加入您的关注车辆。我们的客服会根据您的选择，当您的关注车辆可以进入正式网络竞价前，提前通过电话，短信通知您。
 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>4. 为什么要填写意向价格？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>当您对某个公示车辆选择关注时，您填写的意向价格将做为我们制定网络竞价的重要参考依据，我们会根据用户填写的意向价格，制定网络竞价的底价。我们郑重声明：您填写的意向价格，只有我们网站的工作人员才可以看见，我们将遵守严格的保密措施。 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>5.如何了解车辆的详细信息？可以现场查看车辆吗？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>如果您有需要了解车辆更详细信息或需要现场查看车辆时，您可以通过客服专线与客服取得联系，客服人员将安排您如何去现场看车。
</p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>6. 如何退还维修时效保证金？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>在约定的维修过户时间内，成交用户按时完成车辆过户，维修时效保证金会在3个工作日内，按您的需求退回您提交的银行账户或转入网站电子钱包。如超过约定的维修过户时间，我们会根据合同约定扣除违约金额，直至扣完为止。所有罚没金额将作为对车主延期过户的违约补偿，补偿给车主。
 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>7. 如何退还过户时效保证金？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>当成交会员在约定维修日期前完成车辆维修并联系网站客服后，客服专员将与车主约定时间办理车辆转籍过户手续，完成车辆过户后，过户保证金将在3个工作日内转入车主提交的银行账户。由于车主的原因造成无法按时完成车辆转籍过户工作，我们会根据合同约定扣除违约金额，直至扣完为止。所有罚没金额将作为成交会员延期过户的违约补偿，补偿给成交会员。
 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>8. VIP用户有什么用？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>VIP享受一定期限内的成交车辆网络服务费折扣优惠（针对网站内推出的服务费打折活动车辆，VIP会员不再享有打折服务）。  </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>9. 积分作用？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>积分可以抵网络服务费，单次最多抵总服务费的10%；积分不可提现，不可兑换现金；本站积分永久有效。 </p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="ques">
        <h3>10. 如何获得积分？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>每次出价成功将获得一定量的积分。参与本站举办的活动可以赚取一定数量的积分。</p>
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
    
        <div class="question">
      <div class="ques">
        <h3>11.协助提车费用如何收取？</h3>
        <div class="qu_cont">
          <div class="cont_t"></div>
          <div class="cont_m">
            <p>市区免费（包括萧山，临平，余杭）</p>
<p>衢州，台州，温州，丽水，舟山地区收取800元</p>
<p>金华，宁波，义乌地区收取500元</p>
<p>淳安，建德，临安，富阳，桐庐，绍兴，嘉兴，湖州地区收取300元</p>
<p>省外提车的费用按实际消费情况收取，如因成交会员原因造成当天无法完成提车，需住宿的，费用由成交会员承担。</p> 
          </div>
          <div class="cont_d"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-bottom:5px;" id="index-k">
    <div id="bk-b">
      <div style="font-weight:bold" id="left"><a href="/question">站内常用词解释</a></div>
    </div>
    <div class="explain">
      <div class="text"><strong style="color:#ff3300">竞价：</strong>本站内的在线交易方式的统称，包括一次性竞价、实时竞价和计时竞价三种方式。</div>
      <div style="background-color:#eaf0f5;" class="text"><strong style="color:#ff3300">竞价公告：</strong>本站会对即将进行公开网络竞价的车辆，进行完整的竞价说明，该车辆的一切竞价信息都会通过该公告告知用户。每辆车一个单独的竞价公告。用户只有确认了竞价公告才可以参加站内的网络竞价。</div>
      <div class="text"><strong style="color:#ff3300">公示车辆：</strong>当我们合作的保险公司有意向将事故车辆在本网站进行公开网络竞价时，本站会将意向车辆信息进行公开展示，您可以通过网站查看车辆照片及基本信息或者联系客服专员了解更多更完善的车辆信息。</div>
      <div style="background-color:#eaf0f5;" class="text"><strong style="color:#ff3300">待竞价车辆：</strong>当保险公司正式委托我公司对事故车辆进行公开网络竞价后，我公司会对公示车辆制定一份网络竞价方案，然后该车辆会转为等待交易的车辆，即待竞价车辆。我公司客服会通过短消息、电话对该车选择了关注和填写的意向价格的用户发出竞价邀请。用户登录我们的网站，查看该车的竞价公告。 </div>
      <div class="text"><strong style="color:#ff3300">竞价保证金：</strong> 为了更好的体现公开公平的网络竞价环境，我们要求所有意向参加车辆竞价的用户都需要缴纳足额的保证金才可以参加网络竞价。我们会根据车辆的底价不同制定该车的保证金金额，保证金金额会在竞价公告中明示。当竞价结束后，如果您的出价不是最高出价，未成交的话，则网络竞价结束后三十分钟内保证金会退回您的网站电子钱包，您可以选择提现或保留在网站电子钱包里以便于参与下一次网络竞价。 </div>
      <div style="background-color:#eaf0f5;" class="text"><strong style="color:#ff3300">维修时效保证金：</strong> 对用户的一种约束措施。本站在竞价公告中会明确说明，该车的维修过户时间，您确认参加竞价，即视同您确认了车辆的维修过户时间。为了更好的体现公开公平的网络竞价环境，更好的约束用户遵守交易规则。所有参加网络竞价并最终成交的用户，需要缴纳竞价公告中明示的维修时效保证金，作为对维修过户时间的保证。
 </div>
      <div class="text"><strong style="color:#ff3300">过户时效保证金：</strong> 对车主的一种约束措施。为了保障交易双方的权益，我们会向车主收取一定金额的过户时效保证金。收取金额在竞价公告中明示。
 </div>
      <div style="background-color:#eaf0f5;" class="text"><strong style="color:#ff3300">网络服务费：</strong> 我公司对每台竞价成功的车辆都会收取一定额度的服务费即网络服务费。一般收费的标准为成交金额的8%（<strong>折扣优惠车辆另有说明，所有成交会员包括VIP会员低于1000元时按1000元收取</strong>）。
 </div>
      <div class="text"><strong style="color:#ff3300">网络实时竞价：</strong> 网络竞价的一种方式。在竞价公示的网络竞价时间段内，所有确认了竞价公告，签订了网络竞价服务协议的网站用户，可以进入网络竞价厅，进行实时竞价。您可以根据竞价规则，多次出价，您可以随时了解其他用户的出价和当前最高价。在截至竞价结束时间到达后，出价最高的用户为成交用户。网站会在竞价结束后三十分钟内公示最终竞价结果。
</div>
      <div style="background-color:#eaf0f5;" class="text"><strong style="color:#ff3300">一次性竞价：</strong> 网络竞价的一种方式。在竞价公示的网络竞价时间段内，所有确认了竞价公告，签订了网络竞价服务协议的网站用户，可以进入网络竞价厅，进行一次性竞价。您可以根据竞价规则，出价一次，在竞价过程中，每位用户的出价都是严格保密的。在截至竞价结束时间到达后，网站会根据出价最高的原则，确认成交用户。并在竞价结束后十分钟内公示最终竞价结果。
 </div>
      <div style="width:820px;" class="text"><strong style="color:#ff3300;">计时竞价：</strong> 网络竞价的一种方式。所有参与竞价的会员在竞价开始后，300秒倒计时开始，会员每次出价必须高于前次会员出价，出价后，300秒倒计时重新开始，300秒倒计时结束时，如果没有会员再次出价，则竞价结束，最后出价的会员为最终成交会员。网络竞价的一种方式。所有参加竞价的会员在竞价开始后，300秒倒计时开始，会员每次出价必须高于前次会员出价，出价后，300秒倒计时重新开始，300秒倒计时结束时，如果没有会员再次出价，则竞价结束，最后出价的会员为成交会员。</div>
    </div>
  </div>  
