<div id="index-k">
      <h2>公司介绍</h2>
    <div class="intro"  style="margin-bottom:5px;margin-left: 1.5em;">
      <p>大连华宸汽车评估有限公司（以下简称华宸）是一家新兴的专注于事故车汽车在线交易，并提供汽车信息产业化的相关服务的公司。
 </p>
      <p>公司有多年从事汽车相关服务的专业团队及多年从事互联网行业的精英团队。大连华宸是辽宁省多家保险公司的长期战略合作伙伴及保险公司车辆残值处理指定服务商。汽车行业专业团队及互联网精英团队的有机结合，使华宸充满了生机与活力，并在行业内迅速展开业务的开发与拓展，占领市场的制高点，为客户提供专业及精细的线上与线下服务，并与客户保持良好的合作关系。
 </p>
      <br>
      <strong style="color:#BF1F30">华宸理念：</strong> <br>
      专业是服务的根本，诚信是发展的基础，公开公正是我们的原则 <br>
      <br>
      <strong style="color:#BF1F30">华宸服务：</strong> <br>
     一对一的精准客户服务体系，4S级专业服务标准 <br>
      <br>
      <strong style="color:#BF1F30">华宸目标：</strong> <br>
      做中国最大的汽车在线服务平台 <br>
      <br>
    </div>
       
  
  <div style="margin-bottom:5px;" class="con_zh">    
        <h2>联系我们</h2>
      <div class="contact_con">
        <ul>
          <li>公司网站：<a target="_blank" href="http://www.dlhuachen.com">www.dlhuachen.com</a></li>
          <li>客服专线：400 0411 888(大连)</li>
          <li>投诉电话：0411-66008175</li>
          <li>传&#12288;&#12288;真：0411-66008175（大连）</li>
          <li>大连公司地址：	大连市甘井子区新昌小区17号2-1-3</li>
        </ul>
      </div>
    </div>
    <div class="zh">
      <h2>公司账户与开户银行</h2>
      <div style="height:154px;" class="contact_con">
        <ul>
          <li>公司帐户</li>
          <li>公司名称： 大连华宸汽车评估有限公司</li>
          <li>开户银行</li>
          <li>大连银行兴工支行 76808100357544</li>
          <li>工行大连分行营业部兴工支行 1202027419900009049  </li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>


  
