<div style="margin-bottom:5px;" id="index-k">
    <div id="bk-b">
      <div style="font-weight:bold" id="left"><a href="/about">公司介绍</a></div>
    </div>
    <div class="intro">
      <p>浙江东旺网络科技有限公司（以下简称东旺）是一家新兴的IT公司，专注于汽车及零配件在线交易，并提供汽车信息产业化的相关服务。公司座落于杭州新兴高新产业园区&mdash;北部软件园泰嘉园。
 </p>
      <p>公司有多年从事汽车相关服务的专业团队及多年从事互联网行业的精英团队。东旺是浙江省多家保险公司的长期战略合作伙伴及保险公司车辆残值处理指定服务商。汽车行业专业团队及互联网精英团队的有机结合，使东旺充满了生机与活力，并在行业内迅速展开业务的开发与拓展，占领市场的制高点，为客户提供专业及精细的线上与线下服务，并与客户保持良好的合作关系。
 </p>
      <br>
      <strong style="color:#CC6600">东旺理念：</strong> <br>
      专业是服务的根本，诚信是发展的基础，公开公正是我们的原则 <br>
      <br>
      <strong style="color:#CC6600">东旺服务：</strong> <br>
     一对一的精准客户服务体系，4S级专业服务标准 <br>
      <br>
      <strong style="color:#CC6600">东旺目标：</strong> <br>
      做中国最大的汽车在线服务平台 <br>
      <br>
    </div>
       
  </div>
  
  <div style="margin-bottom:5px;" class="con_zh">
    <div class="contact0">
      <div id="bk-b">
        <div style="font-weight:bold" id="left"><a href="/about">联系我们</a></div>
      </div>
      <div class="contact_con">
        <ul>
          <li>公司网站：<a target="_blank" href="http://www.doone.co">www.doone.co</a></li>
          <li>客服专线：400 0086 456(宁波)</li>
          <li>投诉电话：0571-88199191</li>
          <li>传&#12288;&#12288;真：0571-88182020（杭州）</li>
          <li style="padding-left:70px;">0574-28902878（宁波）</li>          
          <li>杭州公司地址：	杭州市北部软件园泰嘉园      D座6楼  601室</li>
         <li> 宁波公司地址：	宁波市天童北路933号和邦大厦 A座10楼  1002-1室 </li>        
        </ul>
      </div>
    </div>
    <div class="zh">
      <div id="bk-b">
        <div style="font-weight:bold" id="left"><a href="/about">公司账户与开户银行</a></div>
      </div>
      <div style="background-image:url(/resource/images/zhpic.gif); background-repeat:no-repeat; background-position:right bottom; height:154px;" class="contact_con">
        <ul>
          <li>公司帐户</li>
          <li>公司名称： 浙江东旺网络科技有限公司</li>
          <li>开户银行</li>
          <li>杭州银行东新支行 76808100357544</li>
          <li>工行浙江分行营业部九莲支行 1202027419900009049  </li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
  <div style="margin-bottom:5px;" id="index-k">
    <div id="bk-b">
      <div style="font-weight:bold" id="left"><a href="/about">合作机构</a></div>
    </div>
   <div id="jdzs">
        <ul>
           <li><a title="企业法人营业执照" href="/resource/images/certificate/jdzs03.jpg" class="group1 cboxElement"><img border="0" src="/resource/images/certificate/jdzs3.gif"></a></li>
          <li><a title="拍卖经营许可证书" href="/resource/images/certificate/jdzs02.jpg" class="group1 cboxElement"><img border="0" src="/resource/images/certificate/jdzs2.gif"></a></li>  
          <li><a title="A级企业证书" href="/resource/images/certificate/jdzs01.jpg" class="group1 cboxElement"><img border="0" src="/resource/images/certificate/jdzs1.gif"></a></li>
          <div style="clear:both"></div>
        </ul>
      </div>
       
  </div>
  <div style="margin-bottom:5px;" id="index-k">
    <div id="bk-b">
      <div style="font-weight:bold" id="left"><a href="/about">业务网络国内分布图</a></div>
    </div>
    <div style="background-image:none;text-align: center;	" class="intro">
      <img src="/resource/images/fbt.gif">
    </div>
       
  </div>
  
