<div id="index-k">
      <h2>公司介绍</h2>
    <div class="intro"  style="margin-bottom:5px;margin-left: 1.5em;">
      <p>大连华宸二手车鉴定评估有限公司（以下简称“华宸”）成立于2011年，经过商务部批准、大连市工商局备案，受法院与交通队委托，是大连市首家专门从事事故车伤损贬值鉴定、二手车检测的，也是具有权威性和专业性的二手车鉴定评估机构。同时也是一家新兴的专注于事故车在线交易，并提供汽车信息产业化的相关服务的公司，公司创建“www.lnhuachen.com”为公司的车辆交易网。主营事故车和二手车拍卖业务。本公司与全国多家大型保险公司合作，为广大用户提供丰富的车辆拍卖信息
 </p>
      <p>公司主要从事业务有：二手车鉴定评估，对因事故导致车辆价值降低的车辆贬值评估，事故车的维修成本鉴定、及典当、拍卖、肇事、抵押等其他车辆委托鉴定评估业务。公司秉承公平、公正、科学、准确、高效的原则，严格按照必要的程序和标准，组织和实施鉴定评估。对当事人的鉴定委托，我公司出具的鉴定报告在法院审理案件中具有法律效力。
 </p>
      <br>
      <strong style="color:#BF1F30">华宸理念：</strong> <br>
      专业负责;公正、公平;勇于创新;服务社会;共赢未来。 <br>
      <br>
      <strong style="color:#BF1F30">华宸服务：</strong> <br>
     以真实、诚信、专业的精神，全心全意为广大客户提供最优质的服务。 <br>
      <br>
      <strong style="color:#BF1F30">华宸目标：</strong> <br>
      做中国最大的汽车在线服务平台 <br>
      <br>
    </div>
       
  
  <div style="margin-bottom:5px;" class="con_zh">    
        <h2>联系我们</h2>
      <div class="contact_con">
        <ul>
          <li>公司网站：<a target="_blank" href="http://www.lnhuachen.com">www.lnhuachen.com</a></li>
          <li>客服专线：13236942222</li>
          <li>投诉电话：0411-83330111   0411-66008175</li>
          <li>传&#12288;&#12288;真：0411-66008175（大连）</li>
          <li>大连公司地址：	大连市甘井子区辛寨子镇新昌小区17号楼2单元1层3号（甘井子法院斜对面）</li>
        </ul>
      </div>
    </div>
    <div class="zh">
      <h2>公司账户与开户银行</h2>
      <div style="height:154px;" class="contact_con">
        <ul>
          <li>公司帐户： 3025 6157 4918</li>
          <li>公司名称： 大连华宸二手车鉴定评估有限公司</li>
          <li>开户银行： 中国银行股份有限公司大连甘井子支行</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>


  
