<div style="margin-bottom:5px;" id="index-k">
<div id="bk-b">
<div style="font-weight:bold" id="left"><a href="/cost">费用说明</a></div>
</div>
<div class="cost">
<div class="cost_left">
<h3><img src="resource/images/costti.gif"></h3>
<div class="cost_mar">
<div class="dig">竞价保证金：</div>
<p>为了更好的体现公开公平的网络竞价环境，我们要求所有意向参加车辆竞价的用户都需要缴纳足额的保证金才可以参加网络竞价。我们会根据车辆的底价不同制定该车的保证金金额，保证金金额会在竞价公告中明示。当竞价结束后，如果您的出价不是最高出价，未成交的话，则网络竞价结束后三十分钟内保证金会退回您的账户，您可以选择提现或保留在网站电子钱包里以便于参与下一次网络竞价。
</p>
</div>
<div class="cost_mar">
<div class="dig">车款：</div>
<p>会员参加竞价成功后的成交价。</p>
</div>
<div class="cost_mar">
<div class="dig">网络服务费：</div>
<p>我公司对每台竞价成功的车辆都会收取一定额度的服务费即网络服务费。一般收费的标准为成交金额的8%（折扣优惠车辆另有说明，所有成交会员包括VIP会员低于1000元时按1000元收取）。
</p>
</div>
<div class="cost_mar">
<div class="dig">维修时效保证金：</div>
<p>对用户的一种约束措施。本站在竞价公告中会明确说明，该车的维修过户时间，您确认参加竞价，即视同您确认了车辆的维修过户时间。为了更好的体现公开公平的网络竞价环境，更好的约束用户遵守交易规则。所有参加网络竞价并最终成交的用户，需要缴纳竞价公告中明示的维修时效保证金，作为对维修过户时间的保证。
</p>
</div>
<div class="cost_mar">
<div class="dig">过户时效保证金: </div>
<p>对车主的一种约束措施。为了保障交易双方的权益，我们会向车主收取一定金额的过户时效保证金。收取金额在竞价公告中明示。
</p>
</div>
<div class="cost_mar">
<div class="dig">协助提车费用:</div>
<p>为提高工作效率，规范化工作流程，7车网将后续成交车辆业务人员协助提车时所需的
费用进行归类明细，各地提车费用说明如下： </p>
<table width="510" cellspacing="0" cellpadding="0" border="0" style="font-size:12px; border:solid #CACACA 1px; font-family:'微软雅黑';">
  <tbody><tr>
    <td align="center" width="345" height="25" bgcolor="#e4f2fe" style="border-right:#e8e8e8 solid 1px; border-bottom:#E0E0E0 solid 1px;"><strong>车辆停放地</strong></td>
    <td align="center" bgcolor="#e4f2fe" style="border-bottom:#e8e8e8 solid 1px;"><strong>协助提车费用</strong></td>
  </tr>
  <tr>
    <td height="25" bgcolor="#ffffff" style="border-right:#e8e8e8 solid 1px; border-bottom:#e8e8e8 solid 1px;">&nbsp;市区免费（包括萧山，临平，余杭）</td>
    <td align="center" height="25" bgcolor="#ffffff" style="border-bottom:#e8e8e8 solid 1px;">免费</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#fafafa" style="border-right:#e8e8e8 solid 1px; border-bottom:#e8e8e8 solid 1px;">&nbsp;衢州，台州，温州，丽水，舟山</td>
    <td align="center" height="25" bgcolor="#fafafa" style="border-bottom:#e8e8e8 solid 1px;">800</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#ffffff" style="border-right:#e8e8e8 solid 1px; border-bottom:#e8e8e8 solid 1px;">&nbsp;金华，宁波， 义乌</td>
    <td align="center" height="25" bgcolor="#ffffff" style="border-bottom:#e8e8e8 solid 1px;">500</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#fafafa" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;淳安，建德，临安，富阳，桐庐 ，嘉兴，湖州，绍兴</td>
    <td align="center" height="25" bgcolor="#fafafa" style="border-bottom:#e8e8e8 solid 1px;">300</td>
  </tr>
  <tr>
    <td height="25" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;泉州市区,洛江，丰泽，泉港 </td>
    <td align="center" height="25" style="border-bottom:#e8e8e8 solid 1px;">免费</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#fafafa" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;南安，石狮，晋江，惠安，安溪，德化，永春，清蒙，鲤城 </td>
    <td align="center" height="25" bgcolor="#fafafa" style="border-bottom:#e8e8e8 solid 1px;">300</td>
  </tr>
  <tr>
    <td height="25" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;福州，厦门，莆田</td>
    <td align="center" height="25" style="border-bottom:#e8e8e8 solid 1px;">500</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#fafafa" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;三明，南平，宁德，龙岩，漳州 </td>
    <td align="center" height="25" bgcolor="#fafafa" style="border-bottom:#e8e8e8 solid 1px;">800</td>
  </tr>
  <tr>
    <td height="25" style="border-right:#e8e8e8 solid 1px;border-bottom:#e8e8e8 solid 1px;">&nbsp;苏州</td>
    <td align="center" height="25" style="border-bottom:#e8e8e8 solid 1px;">500</td>
  </tr>
  <tr>
    <td height="25" bgcolor="#fafafa" style="border-right:#e8e8e8 solid 1px;">&nbsp;无锡</td>
    <td align="center" height="25" bgcolor="#fafafa">800</td>
  </tr>
</tbody></table>

<div style="width:498px; margin-top:10px; font-size:12px; font-weight:600; padding:5px; line-height:20px; background-color:#FFFFFF; border:#CACACA solid 1px; font-family:'微软雅黑';" class="sw">省外提车的费用按实际消费情况收取，如因成交会员原因造成当天无法完成提车，需住宿的，费用由成交会员承担。</div>
</div>
<div class="cost_mar">
<div class="dig">其他费用:</div>
<p>部分车辆在停放地会产生一定金额的停车管理费或拆检费，该费用以网站公示为准，由
竞买方承担。</p>
</div>
</div>
<div class="cost_right">
<!--计算器-->
<form method="post" name="form1">
<div class="cal">
<div class="cal_top"></div>
<div class="cal_mid">
          
            <p style="padding:25px 0;"><img src="resource/images/cal.gif"></p>
         
            <!--详细费用-->
            <table width="310" cellspacing="0" cellpadding="0" border="0" style="margin-left:18px;">
  <tbody><tr>
    <td align="right" width="105" height="25">车款：</td>
    <td><input type="text" style="width:192px; height:20px;" name="t2"></td>
  </tr>
   <tr><td height="8"></td><td></td></tr>
  <tr>
    <td align="right" height="25">网络服务费：</td>
    <td><input type="text" style="width:192px; height:20px;" name="t3"></td>
  </tr>
   <tr><td height="8"></td><td></td></tr>
  <tr>
    <td align="right" height="25">维修时效保证金：</td>
    <td><input type="text" style="width:192px; height:20px;" name="t4"></td>
  </tr>
   <tr><td height="8"></td><td></td></tr>
  <tr>
    <td align="right" height="25">协助提车费用：</td>
    <td><input type="text" style="width:192px; height:20px;" name="t6"></td>
  </tr>
   <tr><td height="8"></td><td></td></tr>
  <tr>
    <td align="right" height="25">其他费用：</td>
    <td><input type="text" style="width:192px; height:20px;" name="t7"></td>
  </tr>
   <tr><td height="8"></td><td></td></tr>
</tbody></table>            
          <div style="text-align:center; margin:10px 95px 25px; height:30px;" id="add">
              <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td align="center"><input type="button" onclick="return aa()" value="+" name="Submit" style="width:70px; height:30px; line-height:30px; font-size:30px; background-image:url(resource/images/btnbg.gif); background-repeat:repeat-x; border:#999 solid 1px;display: block;cursor:pointer;"></td>
    <td align="center"><input type="reset" onclick="return bb()" value="清空" name="Submit" style="width:70px; height:30px; line-height:30px; font-family:'微软雅黑'; font-size:14px; background-image:url(resource/images/btnbg.gif); background-repeat:repeat-x; border:#999 solid 1px;cursor:pointer;"></td>
  </tr>
</tbody></table>
                
              </div>
            
             <div class="total">
                <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td style="color:#0066CC;font-weight:bold; width:70px; ">总价格:</td>
                    <td align="left"><input type="text" style="font-size:24px; width:235px;font-weight:bold; color:#0066CC; border:#dedddd solid 2px; padding-left:10px; background-color:#f9f9f9;" name="t8">
                    </td>
                  </tr>
                </tbody></table>
              </div>
            <div style="width:310px;text-align:center;margin-left:18px;padding-top:50px; border-top:#666 dotted 1px;" class="calpic"><img src="resource/images/costsb.gif"></div>
          </div>
<div class="cal_foot"></div>
</div>
 </form>
<br><br><br><br><br>
<img src="resource/images/costpic.gif"><br>
</div>
<div style="clear:both"></div>
</div>
</div>