<div class="step_video">
<div class="step">
<h2>在7车网上竞价非常简单！</h2>
<div style="background-image:url(/resource/images/step_bg1.gif); background-repeat:no-repeat;" class="step1">
参加竞价前，您须注册认证会员，浏览网站车辆信息，联系咨询客服，选定参与竞价车型，支付足额竞价保证金。</div>
<div style="background-image:url(/resource/images/step_bg2.gif); background-repeat:no-repeat;" class="step1">仔细阅读竞价公告，点击“确认登记”，按时参加网络竞价。如有疑问，随时咨询客服。</div>
<div style="background-image:url(/resource/images/step_bg3.gif); background-repeat:no-repeat;" class="step1">
  参与竞价，如您未成交，保证金将在竞价结束后半小时内返还至您的网站电子钱包。<br> 如您成交，我们的业务员将会联系好车主，并约定提车时间，在约定日期办理付款提车手续。
</div>
<div style="margin-right:0px;background-image:url(/resource/images/step_bg4.gif); background-repeat:no-repeat;" class="step1">在约定时间内完成车辆维修并办理完成车辆过户手续，将退还双方保证金，交易完毕。</div>
<div style="clear:both"></div>
</div>

  </div>