/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#page
{
  position:absolute;
  top:0;
  bottom:12px;
  left:0;
  right:0;
  width: 970px;
  min-height:300px;
  margin:auto;
}

#header
{
  height:100px;
}

#header_info1
{ background-color: #BF1F30;
  height:58px;
  padding: 5px;
}

#backend_title
{ color: white;
  font-size:30px;
    font-family: bitstream;
}
#header_info2
{ background-color: transparent;
  border-bottom:2px solid #BF1F30;
  height:20px;
  padding: 5px;
}

#center
{ background-color: transparent;
  position:absolute;
  left:0;
  right:0;
  top:100px;
  bottom:100px;
}
.center_title
{
    border-bottom:2px solid #BF1F30;
    color: black;
    height:30px;
    font-size:20px;
    font-weight:bold;
    padding: 5px 5px 5px 30px;
}

#car_list_search
{   borderbottom:2px solid #BF1F30;
    height:30px;
    font-size:16px;
    font-weight:bold;
    padding: 10px;
}

#lftnav
{ border-right:2px solid #BF1F30;
  position:absolute;
  top:0;
  left:0;
  width: 180px;
  min-height:100px;
}

.left_title
{
    color: #ffffff;
    text-align:center;
    padding-bottom: 2px;
}
.left_subtitle
{   background-color: #BF1F30;
    font-size:20px;
    font-weight:bold;
    padding: 5px;
}
.left_menu
{   border-top:1px solid #BF1F30;
    color: black;
    font-size:15px;
    padding: 5px;
}

.left_submenu
{
    color: black;
    padding: 5px;
}

.link1
{
    color: black;
}
#content
{ border-left:2px solid #BF1F30;
  position:absolute;
  top:0;
  left:180px;
  bottom: 0;
  right:0;
  overflow:auto;
}
#footer
{
  position:absolute;
  bottom:0;
  height:100px;
  
}
table.car_accident
{   width:770px;
    padding: 5px;
}
table.car_accident tr
{
  background: none repeat scroll 0 0 transparent;
}
table.car_accident th{
  width: 58px;
}

.table_title
{   background-color: #BF1F30;
    color: white;
    font-size:20px;
    font-weight:bold;
    text-align:center;}

.popup
{   position:fixed;
    background-color: #f5f5f5;
    height:450px;
    top:200px;
    border:2px solid #BF1F30;
    overflow: auto;
    z-index: 103;
    display:none;
}

.popup_title
{   background-color: #BF1F30;
    color: white;
    font-size:18px;
    font-weight:bold;
}