<% #local params: car,

auction = car.auction
accident = car.accident
%>

<ul>
  <li>
    <% if auction.present? %>
      <%= link_to car.model_title, auction_path(auction) %>
    <% end %>
  </li>
  <li>
    车原地: <%= accident.huji_address%>
  </li>
  <li>
    停放地: <%= accident.tingche_address%>
  </li>
  <li>
    初次登记: <%= car.registered_at%>
  </li>
</ul>
