<%= car_form.fields_for :auction do |auction_form| %>
            

<tr class="aution_info">
  <td colspan="6">费用信息</td>
</tr>
<tr class="aution_info">
  <th><%= auction_form.label :car_file, '拍卖低价' %></th>
  <td>  </td>
  <th>保留价</th>
  <td>  </td>
  <th>加价额度</th>
  <td>  </td>
</tr>
<tr class="aution_info">
  <th>拍卖时间要求</th>
  <td colspan="5"></td>
</tr>
<%end%>
