
<div id="car_file_<%=car_file.id%>" class="image_container">
  <%=link_to "X", delete_file_case_cars_path(:file_id=>car_file.id), :class=>"image_delete_button",  :remote=>true, :method=>:delete%>
  <%= image_tag car_file.uploaded.url(:thumb),:alt=>car_file.name %>
</div>
