

<tr id="pingan_api_result">
  <td class="thead">平安反馈 </td>
  <td  colspan="5">
    <% if @car.publisher_pingan_pusher? %>
      <% if action_history = @car.auction.action_histories.last %>
       <%= action_history.to_formatted_s %>
      <% end %>
    <% end %>
  </td>
</tr>
