<%
car_models =  CarModel
%>
<div class="basic-search-options clear">
    <div class="search-for filter">
        <div >Search for</div>  
        <input name="keyword" type="text" value="Keywords or Ref ID" id="findakeyword" class="filter-input" onblur="if(this.value=='')this.value='Keywords or Ref ID';" onfocus="if(this.value=='Keywords or Ref ID')this.value='';">
    </div>

    <div class="make filter">
        <div >Make</div>   
        <select name="findamake" id="findamake" class="filter-input">
          <option value="abc">abc</option>
        </select>
    </div>
    <div class="nav-break filter"></div>
    <div class="row filter">
       <input type="submit" name="findabtn" value="Search" id="findabtn">
    </div>
    <div class="clear"></div>    
</div>
<div class="clear"></div>
