<div id="KinSlideshow" >
 <%=link_to image_tag("10.jpg", :width=>"970", :height=>"290", :alt=>"大连华晨价格评估有限公司祝全国人们新年快乐！" ), "/"%>
 <%=link_to image_tag("11.jpg", :width=>"970", :height=>"290", :alt=>"大连华宸价格评估有限公司"),  "/static/about"%>
 <%=link_to image_tag("12.jpg", :width=>"970", :height=>"290", :alt=>"这里有最多的事故车信息" ), "/cars"%>
</div>

<script type="text/javascript">
$(function(){
  jQuery("#KinSlideshow").KinSlideshow({
    moveStyle:"left",
    intervalTime:7,
    mouseEvent:"mouseover",
    isHasTitleBar:false,
    btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#000",btn_fontColor:"#000000",btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#fff",btn_borderHoverColor:"#fff",btn_borderWidth:1}
    });
}) 
</script>
