<div id="KinSlideshow" >
 <%=link_to image_tag("11.jpg", :width=>"970", :height=>"380", :alt=>"华晨汽车交易网上线"), root_path%>
 <%=link_to image_tag("12.jpg", :width=>"970", :height=>"380", :alt=>"这里有最多的事故车信息" ), root_path%>
</div>

<script type="text/javascript">
$(function(){
  jQuery("#KinSlideshow").KinSlideshow({
    moveStyle:"left",
    intervalTime:7,
    mouseEvent:"mouseover",
    isHasTitleBar:false,
    btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#000",btn_fontColor:"#000000",btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#fff",btn_borderHoverColor:"#fff",btn_borderWidth:1}
    });
}) 
</script>
